<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>740084214601-pm8beuj1vqkuthdmvs6t7d3h4q3uod4j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740084214601-pm8beuj1vqkuthdmvs6t7d3h4q3uod4j</string>
	<key>API_KEY</key>
	<string>AIzaSyBEpDKCNKja_K9dO665yVB4pbmIHqBytmY</string>
	<key>GCM_SENDER_ID</key>
	<string>740084214601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adixsoft.buntwo</string>
	<key>PROJECT_ID</key>
	<string>buntwo</string>
	<key>STORAGE_BUCKET</key>
	<string>buntwo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740084214601:ios:be549a3a47d3b68cb0c898</string>
	<key>DATABASE_URL</key>
	<string>https://buntwo.firebaseio.com</string>
</dict>
</plist>